body {
    color: #001F3F; /* navy */
}

.home {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 80vw;
    text-align: center;
    padding-bottom: 2vh;
    font-size: 5vh;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

.search-box {
    font-size: 4vh;
    height: 6vh;
    background: 0 0;
    padding: 0 1vw 0vh 1vw;
    border-radius: 8vw;
}

.buttons-container {
    display: flex;
    flex-direction: row;
}

.search-button {
    margin-right: 0.5vw;
    padding: 0.5vh 2vw;
    border-radius: 5vw;
    font-size: 2vh;
    text-transform: uppercase;
    max-width: max-content;
}

.card {
    display: flex;
    flex-direction: row;
    width: 90%;
    background-color: #d3eef8;
    border-radius: 3vw;
    margin-bottom: 1vh;
    align-items: center;
}

.card-img {
    margin: 0 2vw;
}

.card-content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-left: 5vw;
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer {
    border-top: black 1px solid;
    margin-top: auto;
    background-color: #7FDBFF;
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 100vw;
    align-self: center;
    text-align: center
}


@media screen and (min-width: 415px){
    .home {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        align-items: center;
    }

    .title {
        width: 80vw;
        text-align: center;
        padding-bottom: 2vh;
        font-size: 5vh;
        font-style: italic;
        font-weight: bold;
        text-decoration: underline;
    }

    .search-container {
        display: flex;
        justify-content: center;
        margin-bottom: 2vh;
    }

    .search-box {
        font-size: 4vh;
        /*color: #4b2354;*/
        height: 7vh;
        background: 0 0;
        padding: 0 1vw 0vh 1vw;
        border-radius: 5vw;
    }

    .search-box::placeholder {
        /*color: #001F3F;*/
        /*font-weight: 450;*/
    }

    .buttons-container {
        display: flex;
        flex-direction: row;
    }

    .search-button {
        margin-right: 0.5vw;
        padding: 0.5vh 1vw;
        border-radius: 5vw;
        font-size: 3vh;
        text-transform: uppercase;
    }

    .card {
        display: flex;
        flex-direction: row;
        width: 90%;
        background-color: #d3eef8;
        border-radius: 3vw;
        margin-bottom: 1vh;
        align-items: center;
    }

    .card-img {
        margin: 0 2vw;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-left: 5vw;
    }

    .card-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    footer {
        border-top: black 1px solid;
        margin-top: auto;
        background-color: #7FDBFF;
        padding-top: 2vh;
        padding-bottom: 2vh;
        width: 100vw;
        align-self: center;
        text-align: center
    }

}
